.divCenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}

/*
	Create - Join - List Room -> CJL Room	
*/
.CJLBackground {
	background-color: #f9f2d4;
}

.CJLAllContainer {
	display: block;
	border: 3px solid #4f4e49;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	padding: 10px;
	width: 800px;
	height: 750px;
}

.CJLTopButtons {
	display: block;
	border: 2px solid #4f4e49;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}

.CJLUserContainer {
	display: block;
	border: 2px solid #4f4e49;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	height: 44px;
}

.CJLUserIcon {
	border: 2px solid red;
	margin: 1px 10px 2px 5px; 
	padding-left: 0px; 
	float: left;
	height: 39px;
}

.CJLUsernameLabel {
    margin: 13px 10px 1px 10px; 
    padding-left: 0px; 
    float: left;
    font-weight: bold;
}

.CJLTopButtonsContainer {
	display: block;
	border: 2px solid #4f4e49;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	vertical-align: middle;
}

.CJLTopButton {
	display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-size: 140%;
    font-weight: bold;
    width: 388px;
    margin: 4px;
}

.CJLTopButton:hover {
    opacity: 0.7;
}

.CJLGameListContainer {
	display: block;
	background-color: #f7fcf8;
	border: 2px solid #4f4e49;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	height: 300px;
}

.CJLLabel {
	font-size: 140%;
	font-weight: bold;
	color: #b7382a;
}

.CJLGameList {
	background-color: #f7fcf8;
	margin: 5px;
	width: 98%;
	height: 95%;
	overflow-y: scroll;
	overflow-x: hidden;
	resize: none;
}

.CJLGeneralChatRoom {
	display: block;
	border: 2px solid #4f4e49;
	height: 258px;
	margin-top: 5px;
}

.CJLChatLeftPart {
	display: block;
	border: 2px solid #4f4e49;
	width: 56%;
	height: 95%;
	float: left;
	margin: 5px;
}

.CJLChatRightPart {
	display: block;
	border: 2px solid #4f4e49;
	width: 40%;
	height: 95%;
	float: right;
	margin: 5px;
}

.CJLChatMessageTextArea {
	background-color: #f7fcf8;
	margin: 4px;
	width: 98%;
	height: 70%;
	overflow-y: scroll;
	overflow-x: hidden;
	resize: none;
	word-wrap: break-word;
}

.CJLChatMessageInputArea {
	background-color: #f7fcf8;
	margin: 5px;
	width: 96%;
	height: 20%;
	overflow-y: scroll;
	overflow-x: hidden;
	resize: none;
	word-wrap: break-word;
}

.CJLChatUserListArea {
	background-color: #f7fcf8;
	width: 99%;
	height: 88%;
	margin: 2px;
}


.CJLChatUserContainer {
	background-color: #f7fcf8;
	margin: 1px;
	width: 98%;
	height: 70%;
	overflow-y: scroll;
	overflow-x: hidden;
	resize: none;
	word-wrap: break-word;
}

.CJLTable {
    border: 1px solid black;
    width: 100%;
}

.CJLTableHeaderCell {
	border: 1px solid black;
    text-align: center;
    font-size: 140%;
    font-weight: bold;
}

.CJLTableCell {
	border: 1px solid black;
    padding: 4px;
    font-size: 110%;
}

.CJLTableRowSelected {
    background-color: brown;
    color: #FFF;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.hideThis {
	display: none;
}

/*Modal Popup START*//*Modal Popup START*//*Modal Popup START*//*Modal Popup START*/
/*Modal Popup START*//*Modal Popup START*//*Modal Popup START*//*Modal Popup START*/
/* The Modal (background) */
.modal {
	border: 4px solid black;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 15px;
    border: 1px solid #888;
    width: 40%;
    height: 195px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/*MODAL POPUP END*//*MODAL POPUP END*//*MODAL POPUP END*//*MODAL POPUP END*//*MODAL POPUP END*/
/*MODAL POPUP END*//*MODAL POPUP END*//*MODAL POPUP END*//*MODAL POPUP END*//*MODAL POPUP END*/