body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chat-container {
    height: 350px;
    width: 730px;
    border-style: solid;
    margin-top: 1.5em;
	overflow-y: scroll;
	overflow-x: hidden;
	resize: none;
	word-wrap: break-word;
}

#chat-input {
    height: 10vh;
    width: 50vw;
    resize: none;
    margin-top: 1em;
}

.left-side {
	display:block;
	float:left;
}

.right-side {
	display:block;
	float:right;
}

.text-center {
	text-align: center;
	vertical-align: middle;
}

.snowflakes {
    top:0px;
    left:0px;
    position:absolute;
    z-index:200;
}

#site {
    width:500px;
    height:500px;
    margin:0 auto;
    position:relative;
    overflow:hidden;
}

/* Create three equal columns that floats next to each other */
.column-3 {
    float: left;
    width: 33.33%;
    padding: 15px;
}

.column-simple {
    float: left;
    padding: 15px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.chat-room {
	height: 140px;
	width: 34vw;
    border-style: solid;
	margin-left: 60px;
	overflow-y: scroll;
	overflow-x: hidden;
	resize: none;
	word-wrap: break-word;
}

.username-field {
	height: 140px;
	width: 30vw;
    border-style: solid;
	margin-left: 35px;
	resize: none;
	word-wrap: break-word;
}

.big-and-middle {
	font-size: 200%;
	letter-spacing: 3px;
	text-align: center;
	vertical-align: middle;
}

.join-button {
	margin-top: 20px;
	height: 50px;
	width: 120px;
	font-size: 150%;
}

.gradient-text {
	font-size: 140%;
	background: -webkit-linear-gradient(red, yellow);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/*
	TAB - START
	TAB - TAB - TAB - TAB - TAB - TAB - TAB - TAB - TAB - TAB - TAB - TAB
*/

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
	height: 380px;
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/*
	TAB - END
	TAB - TAB - TAB - TAB - TAB - TAB - TAB - TAB - TAB - TAB - TAB - TAB
*/


.player-color-container {
	height: 320px;
	width: 5vw;
	padding: 6px;
    border-style: solid;
    float: left;
	resize: none;
}

.player-color-button {
	height: 3vh;
	width: 3vw;
	margin-right: 1vw;
	margin-left: 1vw;
	margin-top: 2px;
	margin-bottom: 2px;
}

.game-canvas-container {
	height: 330px;
	width: 630px;
	margin-left: 1vw;
    border-style: solid;
    float: left;
	resize: none;	
}