<!DOCTYPE html>
<html>
<head>
    <script src="/socket.io/socket.io.js"></script>

    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/chat.css" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/clockStyle.css" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/bomberman.css" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/maze.css" />
	<script src="/javascripts/util.js"></script>
	<script src="/javascripts/gameController.js"></script>
	<script src="/javascripts/mazeGenerator.js"></script>

    <title>Bomberman</title>
</head>
<body>
	<div class="text-center" style="font-size: 340%;"> CAVGA PLAYER YAKINDA!!! </div>

</body>
</html>