<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="./client/css/gameRoom.css">
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	<script src="./client/js/util/util.js"></script>
	<script src="./client/js/model/gameObject.js"></script>
	<script src="./client/js/controller/gameRoomController.js"></script>
	<script src="./client/js/controller/chatController.js"></script>

</head>
<body class="Background">
	<label id="currentRoom" hidden></label>
	<label id="username" hidden></label>
	<div class="AllContainer">
		<label id="lblGameName" class="Label"> Game Name: </label>
		<div class="TopContainer">
			<div class="UserContainer">
				<table id="userList" class="UserTable"></table>
			</div>
			<div class="GameProperties">
				
			</div>
		</div>

		<div class="MiddleContainer">
			<img id="readyButton" src="/client/img/notReadyLamp.png" class="ReadyButton" onclick="setReady()" />
		</div>

		<div class="BottomContainer">
			<div id="chatMessagesArea" class="ChatMessageTextArea"></div>
			<textarea id="chatInput" class="ChatMessageInputArea"></textarea>
		</div>
		<button onclick="" class="ExitButton"> EXIT </button>
	</div>
</body>
</html>