<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="./client/css/general.css">
	<!-- <link rel="stylesheet" type="text/css" href="./client/css/dd.css"> -->
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- <script src="./client/js/lib/jquery.dd.js"></script> -->
	<script src="./client/js/animate/mainAnimation.js"></script>

	<script src="./client/js/util/util.js"></script>
	<script src="./client/js/controller/generalController.js"></script>
	<script src="./client/js/controller/joinCreateListRoomController.js"></script>
	<script src="./client/js/controller/chatController.js"></script>
	<script src="./client/js/model/gameObject.js"></script>

</head>


<body class="CJLBackground">

<!-- TODO: sil bunu, cöp -->
	<button onclick="geriGit()"> Geri tuşu </button>
	
	<div class="CJLAllContainer">
		<div class="CJLUserContainer">
			<img id="userIcon" src="" class="CJLUserIcon" />
			<label id="username" class="CJLUsernameLabel"></label>
			<label id="currentRoom" hidden></label>
		</div>

		<div class="CJLTopButtonsContainer">
			<button onclick="openGameNameModal()" class="CJLTopButton">Create Game</button>
			<button onclick="joinGameButtonEvent()" class="CJLTopButton">Join Game</button>	
		</div>
		
		<label class="CJLLabel"> Game List </label>
		<div class="CJLGameListContainer">
			<table id="gameList" class="CJLTable">
			  <tr>
			  	<th style="display: none;"> Id </th>
			    <th class="CJLTableHeaderCell" style="width: 280px"> Creator </th> <!-- Player Icon + Player Name -->
			    <th class="CJLTableHeaderCell" style="width: 380px"> Room Name </th>
			    <th class="CJLTableHeaderCell"> In Room </th>
			  </tr>
			</table>
		</div>

		<label class="CJLLabel"> General Chat Room </label>
		<div class="CJLGeneralChatRoom">
			<div class="CJLChatLeftPart">
				<div id="chatMessagesArea" class="CJLChatMessageTextArea"></div>
				<textarea id="chatInput" class="CJLChatMessageInputArea"></textarea>
			</div>
			<div class="CJLChatRightPart">
				<label class="CJLLabel"> User List </label>
				<select id="userList" multiple="multiple" class="CJLChatUserListArea"></select>
			</div>
		</div>
	</div>


	<!-- The Modal GAME NAME -->
	<div id="gameNameModal" class="modal">
	  <div class="modal-content">
	  		<span onclick="closeGameNameModal()" class="close">&times;</span>
	  		<div style="margin-top: 40px;">
	  			<label class="CJLLabel"> Game Name: </label>
	    		<input type="text" placeholder="Enter A Game Name" id="gameName">
	  		</div>
	  		<button onclick="createGame()" class="CJLTopButton" style="width: 150px; float: right; margin-top: 20px;"> CREATE </button>
	  </div>
	</div>

</body>

</html>